
.gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.gallery .box-container .galleryBox{
    flex: 1 1 330px;
    overflow: hidden;
    position: relative;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;

}
.gallery .box-container .galleryBox .content{
    top: -100%; left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    text-align: center;
    position: absolute;
    background: rgb(255, 255, 255, 0.9);
}
.gallery .box-container .galleryBox h3{
    font-size: 30px;
    color: rgba(0, 0, 0,0.7);

}
.gallery .box-container .galleryBox p{
    font-size: 2 0px;
    color: rgba(0, 0, 0,0.7);
    padding: 5px;
}
.gallery .box-container .galleryBox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 10px;
    border-radius: 15px;
}
.gallery .box-container .galleryBox:hover .content{
    top: 0;
}

